body{
    padding: 0;
    margin: 0;
    /*display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;*/
    
}

.cont{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

header{
    background-color: rgb(38, 211, 38);
    height: 5%;
}
main{
    background-color: paleturquoise;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cirFathr{
    background-color: black;
    border: solid 3px blanchedalmond;

    width: 500px;
    height: 500px;
    border-radius: 50%;

    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: 250px 250px;
    position: relative;
}

button {
    width: 200px;
    height: 200px;
}

.btnG {
    border-top-left-radius: 50%;
    background-color: green;
    align-self: end; /* Baja el botón verde */
    justify-self: end; /* Mueve a la derecha */
    
}

.btnR {
    border-top-right-radius: 50%;
    background-color: red;
    align-self: end; /* Baja el botón rojo */
    
    
}

.btnO {
    border-bottom-left-radius: 50%;
    background-color: orange;
    align-self: start; /* Sube el botón naranja */
    justify-self: end; /* Mueve hacia la derecha */
    
}

.btnB {
    border-bottom-right-radius: 50%;
    background-color: blue;
    /* El botón azul ya está bien, por lo tanto, no necesita ajustes */
}

.circle{
    width: 200px; /* Ajusta el tamaño según lo necesites */
    height: 200px;
    border-radius: 50%;
    background-color: black;
    border: solid 2px blanchedalmond;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el círculo */
    z-index: 1;

}

footer{
    background-color: rgb(38, 211, 38);
    height: 5%;
}